@media (min-width: 768px){
    body {
        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a {
                font-size: 1rem;
            }
            li {
                border: 2px outset white;
                background: #5f5f5f;
            }
        }
        main {
            .video--width {
                width: 700px;
            }
            section {
                p {
                    margin: 0 1rem;
                }
            }
        }
    }
}

@media (min-width: 1024px){
    header {
        a {
            font-size: 1.2rem;
        }
    }
    main {
        h1 {
            font-size: 2.5rem;
        }
        .intro {
            &__text {
                margin: 0 5rem;
            }
        }
        .content__text {
            margin: 0 5rem
        }
        .video--width {
            width: 800px;
        }
        .content__image {
            width: 400px;
            height: 200px;
        }
    }
}