$navbar-dark-color: white;
$navbar-dark-hover-color: #989898;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./base/reset","./base/variables","./base/typography";
@import "./components/buttons","./components/form";
@import "./layout/body","./layout/header","./layout/footer";
@import "./pages/index","./pages/ghosts";