body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
    color: $clr-light;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, #ffffff66 0%, #00000040 200%);
    background-blend-mode: multiply;
    .section-bg {
        background: linear-gradient(to bottom, #ffffff26 0%, #00000026 100%), radial-gradient(at top center, #ffffff66 0%, #00000066 120%) $clr-lightgray;
        background-blend-mode: multiply,multiply;
    }
    .content {
    text-align: center;
        &__image {
            width: 300px;
            height: 200px;
            margin-bottom: 1rem;
        }
        &__text {
            text-align: center;
            padding: 1rem 0;
        }
        &__ulist {
            list-style: none;
        }
        &__olist {
            width: 15rem;
            margin: 1rem auto;
            text-align: left;
        }
    }
}

@media (min-width: 768px){
    body {
        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a {
                font-size: 1rem;
            }
            li {
                border: 2px outset $clr-light;
                background: $clr-btn;
            }
        }
        main {
            .video--width {
                width: 700px;
            }
            section {
                .gallery {
                    height: 90vh;
                }
                p {
                    margin: 0 1rem;
                }
            }
        }
    }
}

@media (min-width: 1024px){
    body {
        header {
            a {
                font-size: 1.2rem;
            }
        }
        main {
            h1 {
                font-size: 2.5rem;
            }
            .intro {
                &__text {
                    margin: 0 5rem;
                }
            }
            .content__text {
                margin: 0 5rem
            }
            .video--width {
                width: 800px;
            }
            .content__image {
                width: 400px;
                height: 200px;
            }
        }
    }
}