$clr-light: white;
$clr-shadow: #ffffff66;
$clr-btn: #5f5f5f;
$btn-hover: #444444;
$clr-lightgray: #989898;

@font-face {
    font-family: "October_Crow";
    src: url(October_Crow.ttf) format("truetype");
}